*.pyc
backups/
#corpus/*
!corpus/manifest.txt
!config_local.txt
!corpus/manifest_lab.txt
!corpus/*.py
!corpus/default/
!corpus/**/*.py
!corpus/**/*.md
corpus/_matches
.DS_Store
model/_models_word2vec/
#data/data.worddb*


.ipynb_checkpoints
.pypirc
MANIFEST.in
build/
dist/
mpi_slingshot.egg-info/
llp.egg-info/
