include *.txt
recursive-include *.txt *.py
recursive-include llp/corpus *.txt

# added by check_manifest.py
include LICENSE
recursive-include bin *.sh
recursive-include data *.gz
recursive-include llp *.md
recursive-include llp *.txt
